.App-btn-add,
.App-btn-remove,
button{
  background-color: grey;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px 16px;
  margin-left:10px;
  margin-right: 10px;
}
.App-btn-add{
background-color: #ffa600;
}
.App-btn-remove{
      background-color: #050047;
}

a{
  text-decoration: none;
  color: black;

}
a:hover{
  color: blue;
  text-decoration: underline;
}

button{

}